# Configuración de Magento 2
MAGENTO_BASE_URL=https://www.elauditor.com.ar/rest/V1
MAGENTO_BEARER_TOKEN=tu_token_aqui

# Configuración de Rendimiento y Descarga
CONCURRENT_WORKERS=5
PRODUCTS_PAGE_SIZE=500
STOCK_PAGE_SIZE=6000

# Configuración de Google Sheets
GOOGLE_SHEET_ID=tu_spreadsheet_id_aqui
GOOGLE_WORKSHEET_NAME=Productos_Magento
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
